nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
  }
  
  nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
  }
  .top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 30px 5px;
  }
  
  .top-links li {
    display: inline-block;
    margin: 0 10px;
  }
 .top-left{
    display: inline-block;
    float: left;
    margin-left: 20px;
 }
 .build-things{
     width: 600px;
     height: 400px;
     margin: 10px 400px;
     color: white;
     font-size: 2em;
     font-family: Verdana, sans-serif;
     font-weight: lighter;
     
}
.search-bar{
    /*background-color: rgb(31, 82, 111);*/
}
header{
    padding-top: 50px;
    height: 720px;
    width: 100%;
    background-image: url("file:///C:/Prework/lab-html-module-exercise-master/starter-code/images/city-scape.svg");
}
button{
    background-color: rgb(240, 146, 51);
    border-radius: 30px;
    height: 50px;
    width: 300px;
    border-color:  rgb(240, 146, 51);;
    color: white;
    font-size: 0.8em;
}
.search-bar img{
    height: 50px;
    margin-top: 0;
    float: left;
}
.search{
    height: 50px;
    width: 100px;
    float: right;
    background-color: rgb(31, 82, 111);
    border: 0;
    
}
img.logo{
    margin-left: 15px;
}

.search-bar{
    height: 10px;
    width: 85%;
    position: relative;
    top: -7.7%;
    bottom: 600px;
}
.bear-logo{
    position: relative;
    left: 98%;
}
.sign{
    position: relative;
    left: 85%;
}
.search{
    position: relative;
    right: 18%;
    width: 70%;
    border: 1px solid rgb(36, 102, 139);
}
.npm{
    background-color: rgb(39, 53, 71);
    height: 720px;
    
}
.npm img{
    position: relative;
    left: 20%;
    top: 80px;
}
.npm-section{
    width: 600px;
    height: 400px;
    margin-right: 350px;
    margin-top: 120px;
    color: white;
    font-size: 1.5em;
    float: right;
    
}
.npm button{
    background-color: rgb(203, 56, 55);
    border-color: rgb(203, 56, 55);
}
a{ 
    color: white !important;
    text-decoration: none;
}
#what-is{
    position: relative;
    height: 720px;
    width: 100%;
    background-image: url("file:///C:/Prework/lab-html-module-exercise-master/starter-code/images/forklift.svg");
    background-size: cover;
}
.what-is{
    position: absolute;
    margin-left: 100px;
    margin-right: 1400px;
    margin-top: 100px;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    font-weight: lighter;
}
.what-is button{
    background-color: rgb(49, 68, 88);
    border-color: rgb(49, 68, 88);
}
#what-can{
   margin: 10px 100px;
   background-color: white;
   text-align: center;
   height: 720px;
   width: 100%;
}
#what-can div{
  width: 33%;
}
.what-can{
    color: rgb(83, 88, 98);
    margin-left: 600px;
    margin-bottom: 50px;
    text-align: center;
}
.what-can p{
    color: rgb(135, 145, 156);

}
#what-can a{
    color: rgb(208, 74, 73) !important;
}
.find, .discover, .build{
    box-sizing: border-box;
    float: left;
    display: block;
    color: black;
    margin: 0;
    padding: 1px;
    font-size: 1.2em;
    text-align: center;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
   
}
.find p, .discover p, .build p{
    margin: 10px 150px;
    
}
.what-can h2{
    font-size: 2em;
    margin-left: 150px;
    text-align: center;
}
.what-can-p{
    margin-left: 150px;
    text-align: center;
}